# Environment Configuration
# -------------------------
# This file is loaded by playwright.config.ts to set environment-specific variables.

# Base URL for the application under test
BASE_URL=https://uat.app.ahpp.amplifyhealth.com

# Headless mode for browser execution
# Set to 'true' for CI environments, 'false' for local development with visible browser
HEADLESS=false

# Slow down operations by a number of milliseconds
# Useful for debugging or observing test execution
# SLOW_MO=500

# Specify the browser to run tests against (e.g., chromium, firefox, webkit)
BROWSER=chromium

# User credentials for the test application
# It's recommended to use more secure methods for sensitive data in real projects

# Valid credentials
VALID_USERNAME_1 = practice
VALID_PASSWORD_1 = SuperSecretPassword!

# TOTP secret from Azure AD's "Security info → Add sign-in method → Authenticator app → Can't scan the QR code" screen.
VALID_OTP_SECRET_1=
LOG_LEVEL=INFO